<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button menuToggle icon-only>
       <ion-icon name="ios-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-navbar>
      <ion-title>{{'Asistencias UTN' | translate}}</ion-title>
    </ion-navbar>
  </ion-toolbar>


</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col class="textoCentrado">     
    <h2>Bienvenido {{nombre}}</h2>
        <p *ngIf="administrativas" >Desde aqui podras gestionar tus tareas administrativas</p>
        <p *ngIf="alumnos" >Desde aqui podras ver todas tus ausencias en cada materia que curses</p>
        <p *ngIf="profesor" >Desde aqui podras tomar asistencia a los alumnos de tu clase</p>

      <p><button *ngIf="administrativas" ion-button class="btnsize" icon-left  (click)="irAsistencia()"><ion-icon name="ios-list-box"></ion-icon>Administrativas</button></p>
      <p><button *ngIf="alumnos" ion-button class="btnsize" icon-left  (click)="irAsistenciaA()"><ion-icon name="ios-list-box"></ion-icon>Ingresar</button></p>
      <p><button *ngIf="profesor" ion-button class="btnsize" icon-left  (click)="irAsistenciaP()"><ion-icon name="ios-list-box"></ion-icon>Profesor</button></p>
    </ion-col>
  </ion-row>
</ion-content>

<ion-menu [content]="mycontent">
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-thumbnail item-start>
          <img *ngIf="imagen==''" src="http://ionicframework.com/dist/preview-app/www/assets/img/thumbnail-rotla.png">
          <img *ngIf="imagen!=''" src="{{imagen}}">
          <h4>{{nombre}}</h4>
        </ion-thumbnail>
        <p>Bienvenido</p>
        <button ion-button clear item-end (click)="editPerfil();">Editar Perfil</button>
      </ion-item>
    </ion-list>
    <ion-list>
      <button *ngIf="archivos"  icon-left ion-item (click)="irArchivos()">
        <ion-icon item-start name="document"  style="color:#0e6073;"></ion-icon>
          <div>Archivos</div>        
        <ion-icon item-end name="ios-arrow-forward"></ion-icon>
      </button>
      <button *ngIf="asistencias"  icon-left ion-item (click)="irAsistencia()">
        <ion-icon item-start name="ios-list-box"  style="color:#0e6073;"></ion-icon>
          <div>Asistencia</div>        
        <ion-icon item-end name="ios-arrow-forward"></ion-icon>
      </button>
      <button  *ngIf="materiasA" icon-left ion-item (click)="materias()">
        <ion-icon item-start name="ios-book"  style="color:#0e6073;"></ion-icon>
          <div>Materias</div>        
        <ion-icon item-end name="ios-arrow-forward"></ion-icon>
      </button> 
      <button *ngIf="personas" icon-left ion-item  (click)="persona()">
        <ion-icon item-start name="ios-contacts"  style="color:#0e6073;"></ion-icon>
          <div>Personas</div>        
        <ion-icon item-end name="ios-arrow-forward"></ion-icon>
      </button> 
       <button icon-left ion-item  (click)="estadisticas()">
        <ion-icon item-start name="ios-stats"  style="color:#0e6073;"></ion-icon>
          <div>Estadisticas</div>        
        <ion-icon item-end name="ios-arrow-forward"></ion-icon>
      </button>      
      <button icon-left ion-item  (click)="acercade()">
        <ion-icon item-start name="md-school"  style="color:#0e6073;"></ion-icon>
          <div>Acerca de</div>        
        <ion-icon item-end name="ios-arrow-forward"></ion-icon>
      </button> 
      <button icon-left ion-item  (click)="salir()">
        <ion-icon item-start name="ios-exit"  style="color:#0e6073;"></ion-icon>
          <div>Salir</div>        
        <ion-icon item-end name="ios-arrow-forward"></ion-icon>
      </button> 
    </ion-list> 
  </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>